<header class="head">
  <nav class="head-nav">
    <ul class="nav-list">
      <li class="list-item"><a class="<%=path==='/'?'active':''%>" href="/">Add User</a></li>
      <li class="list-item"><a href="/admin/user-list" class="<%=path==='/admin/user-list'?'active':''%>" >User List</a></li>
    </ul>
  </nav>
</header>