.user-list{
  display: flex;
  flex-direction: column;
  list-style: none;

}

.user-item{
  margin: 2px 0;
  /* padding: 8px 0; */
  margin-right: 8px;
  background-color:#f1f2f6 ;
  border-radius: 4px;
  display:flex;
  align-items: center;
  padding: 1rem ;
  gap: 10px;
}

.user-item a{
  text-decoration: none;
  color: #2f3542;
}
.custom-dot{
  width: 16px;
  height: 16px;
  background-color:  rgb(97, 169, 186);
  border-radius: 12px;
}