<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/user.css">
  <title>Document</title>
</head>
<body>

  <header class="header">
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item"><a href="/">Home</a></li>
        <li class="header-item"><a href="/user">User</a></li>
      </ul>
    </nav>
  </header>

  <main class="user-content">
    <div class="user-container">
      <ul class="user-list">
        <li class="user-item"><div class="custom-dot"></div><a href="">John</a></li>
        <li class="user-item"><div class="custom-dot"></div><a href="">Peter</a></li>
        <li class="user-item"><div class="custom-dot"></div><a href="">Paul</a></li>
        <li class="user-item"><div class="custom-dot"></div><a href="">Jorge</a></li>
        <li class="user-item"><div class="custom-dot"></div><a href="">David</a></li>
      </ul>
    </div>
  </main>
  
</body>
</html>